@page
@using taskui.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="accordion mt-5" id="accordionExample">

    @foreach (var result in Model.HeaderList)
    {

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@result.HeaderId" aria-expanded="false" aria-controls="@result.HeaderId">
                    <h1 class="display-5">@result.ReleaseName.ToUpper() - @result.ReleaseDate</h1>
                </button>
            </h2>
            <div id="@result.HeaderId" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <h6>Short Description: @result.ShortDescription</h6>
                    <h6>Long Description: @result.LongDescription</h6>
                    <a style="text-decoration: none;" href="/ReleasePage/@result.HeaderId">Go to this page</a>

                    <br />
                    <br />
                    <h2 class="display-6">Enhancement</h2>
                    <hr class="hr hr-blurry" />
                    <ul>
                        @foreach(var detail in result.Detail)
                        {
                            if (detail.Type == 1)
                            {
                                <li>@detail.Type - @detail.Name - @detail.Description</li>
                            }
                        }
                    </ul>
                    <br />
                    <br />
                    <h2 class="display-6">Bugs/Fixes</h2>
                    <hr class="hr hr-blurry" />
                    <ul>
                        @foreach (var detail in result.Detail)
                        {
                            if (detail.Type == 2)
                            {
                                <li>@detail.Type - @detail.Name - @detail.Description</li>
                            }
                        }
                    </ul>

                    <a class="btn btn-outline-danger" href="/SubmitHeader/deleteAPage">
                        Delete
                    </a>
                    <a class="btn btn-outline-primary" href="/EditPage">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    }

    <!-- tests -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TEST" aria-expanded="false" aria-controls="TEST">
                <h1 class="display-5">TEST - TEST</h1>
            </button>
        </h2>
        <div id="TEST" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <h6>Short Description: TEST</h6>
                <h6>Long Description: TEST</h6>
                <a style="text-decoration: none;" href="/ReleasePage/1">Go to this page</a>

                <br />
                <br />
                <h2 class="display-6">Enhancement</h2>
                <hr class="hr hr-blurry" />
                <ul>
                    <li>TYPE - NAME - DESCRIPTION</li>
                </ul>
                <br />
                <h2 class="display-6">Bugs/Fixes</h2>
                <hr class="hr hr-blurry" />
                <ul>
                    <li>TYPE - NAME - DESCRIPTION</li>
                </ul>

                <a class="btn btn-outline-danger" href="/SubmitHeader/deleteAPage">
                    Delete
                </a>
                <a class="btn btn-outline-primary" href="/EditPage">
                    Edit
                </a>
            </div>
        </div>
    </div>

</div>
