@page "/"
@*@page "/{paginationId}"*@
@using taskui.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="white-bg-container">

    <p class="page-title">
        View Release
    </p>
    <div class="accordion mt-5 " id="accordionExample">

        @foreach (var result in Model.HeaderList)
        {
            string accordionClassName = "";
            string buttonClassName = "";
            if (Model.FirstHeader == result.HeaderId)
            {
                accordionClassName = "accordion-collapse collapse show";
                buttonClassName = "accordion-button display-header";
            }
            else
            {
                accordionClassName = "accordion-collapse collapse";
                buttonClassName = "accordion-button collapsed display-header";
            }

            if (result.Detail.Count() != 0)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="@buttonClassName" type="button" data-bs-toggle="collapse" data-bs-target="#@result.HeaderId" aria-expanded="false" aria-controls="@result.HeaderId">
                            <b>@result.ReleaseName.ToUpper()</b>  - @result.ReleaseDate.ToString("yyyy-MM-dd")
                        </button>
                    </h2>
                    <div id="@result.HeaderId" class="@accordionClassName" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>@result.ShortDescription</p>
                            <p>@result.LongDescription</p>

                            <br />
                            <h5>Enhancements</h5>
                            <hr class="hr hr-blurry" />
                            <ul class="">
                                @foreach (var detail in result.Detail)
                                {
                                    if (detail.Type == 1)
                                    {
                                        <li class="">
                                            @detail.Name
                                            <ul>
                                                <li>Description 1</li>
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>

                            <br />
                            <h5>Bugs/Fixes</h5>
                            <hr class="hr hr-blurry" />
                            <ul class="">
                                @foreach (var detail in result.Detail)
                                {
                                    if (detail.Type == 2)
                                    {
                                        <li class="">
                                            @detail.Name 
                                        </li>
                                    }
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>