@page "/ReleasePage/{pageId:int}"
@model ReleasePageModel
@{
    ViewData["Title"] = "Release Page";
}

<h1 class="display-5 mt-4">@Model.DisplayHeader.ReleaseName - @Model.DisplayHeader.ReleaseDate</h1>
<p>Short Description: @Model.DisplayHeader.ShortDescription</p>
<p>Long Description: @Model.DisplayHeader.LongDescription</p>

@foreach (var item in Model.DisplayHeader.Detail)
{
    <h6>
        @item.Type - @item.Name
    </h6>
    <p>@item.Description</p>
}

@* todo this
    <a href=""></a>
*@
