@page "/ReleasePage/{pageId:int}"
@model ReleasePageModel
@{
    ViewData["Title"] = "Release Page";
}

<h1 class="display-5 mt-4">@Model.DisplayHeader.ReleaseName - @Model.DisplayHeader.ReleaseDate</h1>
<p>Short Description: @Model.DisplayHeader.ShortDescription</p>
<p>Long Description: @Model.DisplayHeader.LongDescription</p>

<br />
<h2 class="display-6">Enhancement</h2>
<hr class="hr hr-blurry" />
<ul>
    @foreach (var item in Model.DisplayHeader.Detail)
    {
        if (item.Type == 1)
        {
            <li>@item.Name - @item.Description</li>
        }
    }
</ul>

<br />
<h2 class="display-6">Bugs/Fixes</h2>
<hr class="hr hr-blurry" />
<ul>
    @foreach (var item in Model.DisplayHeader.Detail)
    {
        if (item.Type == 2)
        {
            <li>@item.Name - @item.Description</li>
        }
    }
</ul>
