@page "/Edit"
@model taskui.Pages.TableViewModel
@using Syncfusion.EJ2.RichTextEditor
@{
    ViewData["Title"] = "Edit page";
    int textEditorCount = 1;
}
<div class="white-bg-container">

    <p class="page-title">
        Edit Table
    </p>

    <ul class="list-group mb-4">
        @foreach (var header in Model.HeaderList)
        {
            int detailCount = 1;

            <li class="list-group-item p-3 table-list-container">
                <h6 class="list-releaseHeaderID smaller-h6">@header.HeaderId</h6>
                <p class="h4 mb-3">@header.ReleaseName</p>

                <p>
                    <a type="button" class="btn btn-secondary" href="/SubmitHeader/AddOneDetail/@header.HeaderId">Add detail</a>
                    @*
                        <button data-bs-target="#@header.HeaderId" class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                            Hide Details
                        </button>
                    *@
                </p>

                <div class="input-group mb-3 mt-2">
                    <input value="@header.ReleaseName" type="text" class="form-control list-releaseName" placeholder="Release Name" aria-label="Username">
                    <input value="@header.ReleaseDate.ToString("yyyy-MM-dd")" type="date" class="form-control list-releaseDate" placeholder="Release Type" aria-label="Server">
                    <input value="@header.ShortDescription" type="text" class="form-control list-releaseShortDescription" placeholder="Short Description" aria-label="Server">
                </div>
                <div class="form-floating">
                    <input value="@header.LongDescription" type="text" class="form-control list-releaseLongDescription" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Long Description</label>
                </div>

                <div class="" id="@header.HeaderId">
                    <div class="">
                        @foreach (var headerDetail in header.Detail)
                        {
                            string textEditorId = $"defaultRTE-{textEditorCount++}";

                            <div class="list-detailContainer">
                                <div class="mt-3">
                                    <h5>@(detailCount++).</h5>
                                    <h6 class="list-detail-detailID smaller-h6">@headerDetail.DetailId</h6>
                                    <p class="h6">@headerDetail.Name</p>
                                </div>

                                @if (header.Detail.Count() != 1)
                                {
                                    <a class="btn btn-outline-danger mb-3"
                                       href="/SubmitHeader/DeleteOneDetail/@headerDetail.DetailId">Delete</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-danger  mb-3"
                                       href="/SubmitHeader/deleteAPage/@header.HeaderId">Delete</a>
                                }

                                <div class="input-group mb-3">
                                    <select class="form-select list-detail-detailType" aria-label="Default select example">
                                        @if (headerDetail.Type == 1)
                                        {
                                            <option selected value="1">Enhancement</option>
                                            <option value="2">Bug Fixes</option>
                                        }
                                        else
                                        {
                                            <option value="1">Enhancement</option>
                                            <option selected value="2">Bugs Fix</option>
                                        }
                                    </select>
                                    <input class="form-control list-detail-detailName" value="@headerDetail.Name" type="text" placeholder="Detail Name" aria-label="Username">
                                </div>

                                <div class="input-group">
                                    <ejs-richtexteditor id="@textEditorId" value="@headerDetail.Description">
                                    </ejs-richtexteditor>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
    <button id="submitBtn" data-btnType="submitTableView" class="btn btn-primary mt-3">Save</button>
    @*

    <br />
    <br />
    <br />
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Release Name</th>
                <th scope="col">Release Date</th>
                <th scope="col">Short Description</th>
                <th scope="col" class="long-description-col">Long Description</th>
                <th scope="col">DetailId</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var header in Model.HeaderList)
            {
                bool checkIfFirst = true;
                foreach (var detail in header.Detail)
                {
                    string releaseNameClassName = $"trReleaseNameMain{header.HeaderId} form-control form-control-sm";
                    string releaseDateClassName = $"trReleaseDateMain{header.HeaderId} form-control form-control-sm";
                    string shortDescriptionClassName = $"trShortDescriptionMain{header.HeaderId} form-control form-control-sm";
                    string longDescriptionClassName = $"trLongDescriptionMain{header.HeaderId} form-control";
                    <tr class="headerTr">
                        <td class="trHeaderId ">@header.HeaderId</td>
                        <td class="">
                            @if (checkIfFirst)
                            {
                                <input value="@header.ReleaseName" class="@releaseNameClassName" type="text" placeholder="Name..." />
                            }
                        </td>
                        <td class="">
                            @if (checkIfFirst)
                            {
                                <input value="@header.ReleaseDate.ToString("yyyy-MM-dd")" class="@releaseDateClassName" type="date" placeholder="Date..." />
                            }
                        </td>
                        <td class="">
                            @if (checkIfFirst)
                            {
                                <input value="@header.ShortDescription" class="@shortDescriptionClassName" type="text" placeholder="Description..." />
                            }
                        </td>
                        <td class="long-col">
                            @if (checkIfFirst)
                            {
                                <textarea class="@longDescriptionClassName" placeholder="Long Description here..." id="floatingTextarea">@header.LongDescription</textarea>
                            }
                        </td>
                        <td class="trDetailId">@detail.DetailId</td>
                        <td class="">
                            <select class="trType detailType form-select" aria-label="Default select example">
                                @if (detail.Type == 1)
                                {
                                    <option selected value="1">1 - Enhancements</option>
                                    <option value="2">2 - Bugs/Fixes</option>
                                }
                                else
                                {
                                    <option value="1">1 - Enhancements</option>
                                    <option selected value="2">2 - Bugs/Fixes</option>
                                }
                            </select>
                        </td>
                        <td class="">
                            <input value="@detail.Name" class="trName detailName form-control form-control-sm" type="text" placeholder="Name..." />
                        </td>
                        <td class="">
                            <input value="@detail.Description" class="trDesc detailName form-control form-control-sm" type="text" placeholder="Description..." />
                        </td>
                        <td class="">
                            @if (header.Detail.Count() != 1)
                            {
                                <a class="btn btn-danger deleteDetailBtnOnTable"
                                    href="/SubmitHeader/DeleteOneDetail/@detail.DetailId">Delete</a>
                            }
                            else
                            {
                                <a class="btn btn-danger deleteDetailBtnOnTable"
                                    href="/SubmitHeader/deleteAPage/@header.HeaderId">Delete</a>
                            }
                        </td>
                        <td>
                            @if (checkIfFirst)
                            {
                                <a class="btn btn-secondary deleteDetailBtnOnTable"
                                    href="/SubmitHeader/AddOneDetail/@header.HeaderId">Add</a>
                            }
                        </td>
                    </tr>
                    checkIfFirst = false;
                }
            }
        </tbody>
    </table>
    *@
</div>

<ejs-scripts></ejs-scripts>